ul.socialLinkWrapper {
  &.white {
    a {
      color: #ffffff;
    }
    &::after {
      background-color: #ffffff;
    }
  }

  &.black {
    a {
      color: #000000;
    }
    &::after {
      background-color: #000000;
    }
  }
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  position: relative;
  &::after {
    content: "";
    position: relative;
    height: 1px;
    bottom: -17px;
    width: 100px;
    @media (max-width: 550px) {
      display: none;
    }
  }
  li {
    margin-right: 12px;
    svg {
      width: 20px;
      height: 20px;
    }
  }

  @media (max-width: 550px) {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 16px;
  }
}
.light-mode {
  ul.socialLinkWrapper {
    &.white {
      a {
        color: #000000;
      }
      &::after {
        background-color: #000000;
      }
    }

    &.black {
      a {
        color: #000000;
      }
      &::after {
        background-color: #000000;
      }
    }
  }
}
